name: Code check

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - master

jobs:
  PylintCheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10.x'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install pylint
          
          


#      - name: Running Pylint check
#        run: |                                             WORKS "COMMENTED FOR IMPORT ISSUES WHILE DEBUGGING"
#          pylint $(git ls-files '*.py')


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools

      - name: run ls on local rep
        run: |
          ls -al




        
#                #NEW

      - name: Clone UAC_rover/poc-github-actions PUBLIC repository
        uses: GuillaumeFalourd/clone-github-repo-action@v2
        with:
           owner: 'Nergan123'
           repository: 'UAC_rover'


      - name: Install requirements.txt for UAC_rover
        run: |
          cd UAC_rover
          pip install -r requirements.txt


      - name: Access CLONED repository content
        run: |
          cd UAC_rover
          ls -la
          

      - name: install pytest
        run: |
          python -m pip install pytest
          

#      - name: Test with pytest
#        run: |
#         python -c "import UAC_rover"
#                                                          #HERE I NEED TO IMPORT UAC ROVER
#          pytest $(git ls-files 'test_calc_eff.py')



      - name: Checkout SolarPanels
        run : |
          cd UAC_rover
          


      - name: Access LOCAL repository content
        run: |
          ls -la

#
#
#                                          #####################
#      - name: Test with pytest
#        run: |
#          mv UAC_rover tests/UAC_rover
#          cd tests/UAC_rover
#          pytest ../test_calc_eff.py

      - name: Test with pytest
        run: |
          mv UAC_rover/* .
          pwd
          ls -la
          pytest tests/test_calc_eff.py

#                                          #####################
#





#                                      ############################
#                                                #END
#
#
##      - name: Test with pytest (without extras; only package)
##        run: |
##          python -m pip install pytest
##          pytest $(git ls-files 'test_calc_eff.py')
#
#
#
##  Clone_UAC_Access:
##    runs-on: ubuntu-latest
##
##    steps:
##      name: Run tests
##
##      on: [ push, pull_request ]
##
##      jobs:
##        test:
##          runs-on: ubuntu-latest
##
##          steps:
##            - name: Clone supercharge website repository
##              uses: actions/checkout@v2
##
##            # This part here is cloning a second repository
##            # While cloning the repository:
##            #   - it clones the repo into the given `path`
##            #   - it checks out the branch defined at `ref`
##            - name: Clone supercharge docs repository
##              uses: actions/checkout@v2
##              with:
##                repository: UAC_rover/docs
##                path: resources/docs/2.x
##                ref: 2.x
##
#
#
#  Clone_UAC:
#    runs-on: ubuntu-latest
#
#    steps:
#
#     - name: Clone UAC_rover/poc-github-actions PUBLIC repository
#       uses: GuillaumeFalourd/clone-github-repo-action@v2
#       with:
#         owner: 'Nergan123'
#         repository: 'UAC_rover'
#
#     - uses: actions/setup-python@v3
#       with:
#        python-version: '3.10.x'
#
#     - name: Inside UAC_rover
#       run: |
#         cd UAC_rover/power_control
#         python import SolarPanels.py
#
#
#     - name: Access cloned repository content
#       run: |
#         cd UAC_rover
#         ls -la
##
##     - name: pylint UAC_rover
##       run: |
##         python -m pip install pylint
##         cd UAC_rover/power_control
##         pylint SolarPanels.py
#
##     - name: Test with pytest (without extras; only package)
##       run: |
##          python -m pip install pytest
##          pytest $(git ls-files 'test_calc_eff.py')
#
#     - name: Install requirements
#       run: |
#         python -m pip install --upgrade pip
#         pip install pylint
#
##     - name: Running Pylint check
##       run: |
##         pylint SolarPanels.py
#
#



