name: Code check

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - master

jobs:
  PylintCheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10.x'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install pylint
      - name: Running Pylint check
        run: |
          pylint $(git ls-files '*.py')

      - name: Clone UAC rover repository
        uses: actions/checkout@v2

    # This part here is cloning a second repository
    # While cloning the repository:
    #   - it clones the repo into the given `path`
    #   - it checks out the branch defined at `ref`
      - name: clone repo
        uses: actions/checkout@v2
        with:
          repository: Nergan123/UAC_rover
          path: UAC_rover

      - name: run with ls
        run: ls

      - name: script
        script : pytest test_calc_eff.py

