name: Code check

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - master

jobs:
  PylintCheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10.x'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install pylint

      - name: Running Pylint check
        run: |                                          
          pylint $(git ls-files '*.py')

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools

      - name: run ls on local rep
        run: |
          ls -al


  Testing_UAC_rover:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v3
        - name: Set up Python 3.10
          uses: actions/setup-python@v3
          with:
            python-version: '3.10.x'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            python -m pip install --upgrade setuptools

#                    #CLONING UAC_rover

        - name: Clone UAC_rover/poc-github-actions PUBLIC repository
          uses: GuillaumeFalourd/clone-github-repo-action@v2
          with:
             owner: 'Nergan123'
             repository: 'UAC_rover'

        - name: Install requirements.txt for UAC_rover
          run: |
            cd UAC_rover
            pip install -r requirements.txt

        - name: Access CLONED repository content
          run: |
            cd UAC_rover
            ls -la

        - name: install pytest
          run: |
            python -m pip install pytest

        - name: Access SolarPanels
          run : |
            cd UAC_rover

        - name: Checkout LOCAL repository content
          run: |
            ls -la
            

        - name: move test file inside UAC_rover dir
          run: |
            pwd
            mv UAC_rover/* .
            ls -la

        - name: Calling pytest from Python code
          run: |
            pwd
            python tests_main.py
  

  #                                      ############################





