name: Code check

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - master

jobs:
  PylintCheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: '3.10.x'

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install pylint
      - name: Running Pylint check
        run: |
          pylint $(git ls-files '*.py')
          
                #NEW

#      - name: Clone repo
#        uses: actions/checkout@v3

      - name: Clone UAC rover repository
        uses: actions/checkout@master
        with:
          repository: Nergan123/UAC_rover
          #token: $[{ secrets.my_pat ]}

#      - name: pylint UAC_rover
#        run: |
#          python -m pip install pylint
#          pylint SolarPanels.py
      

      - name: run ls Nergan
        run: |
          ls

      - name: fetch depth MyRepo
        uses: actions//checkout@v3                               #Check where i am
        with:
          fetch-depth: 0


      - name: fetch depth Nergan
        uses: actions/checkout@master
        with:
          repository: Nergan123/UAC_rover
          path: UAC_rover/power_control
          run : |
            pytest $(git ls-files 'SolarPanels.py')
            
                                                #END
      - name: run with ls
        run: |
          pylint $(git ls-files '*.py')

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools

#      - name: Test with pytest (without extras; only package)
#        run: |
#          python -m pip install pytest
#          pytest $(git ls-files 'test_calc_eff.py')

      - name: to home pc
        uses: actions/checkout@v2

  Clone_UAC:
    runs-on: ubuntu-latest

    steps:
#     - uses: actions/checkout@v3
#       name: Cloning UAC rover
#       with:
#         repository: Nergan123/UAC_rover
#         path: my-tools
#
#     - name: Git Clone UAC
#       run: |
#         git clone https://github.com/Nergan123/UAC_rover.git
        

     - name: Set up Python 3.10
       uses: actions/setup-python@v3
       with:
         python-version: '3.10.x'




     - name: Clone UAC_rover/poc-github-actions PUBLIC repository
       uses: GuillaumeFalourd/clone-github-repo-action@v2
       with:
         owner: 'Nergan123'
         repository: 'UAC_rover'

     - name: Access cloned repository content
       run: |
         cd UAC_rover
         ls -la    

     - name: pylint UAC_rover
       run: |
         python -m pip install pylint
         pylint SolarPanels.py
         

     - name: Install requirements
       run: |
         python -m pip install --upgrade pip
         pip install pylint

#     - name: Running Pylint check
#       run: |
#         pylint $(git ls-files '*.py')

     - uses: actions/checkout@v3               #Check where i am
       with:
          fetch-depth: 0

